<h3>Detail Page</h3>
<p-toast class="toast"></p-toast>

<div class="flex gap-1 md:gap-4 xl:gap-8">
  <button
    [routerLink]="['/movies']"
    pButton
    type="button"
    label="Go Back"
    class="p-button-text"
    icon="pi pi-angle-left"
  ></button>

  <!-- edit button -->
  <div class="flex gap-2">
    <button
      pButton
      pRipple
      type="button"
      label="Edit"
      class="p-button-raised p-button-info"
      m-r="4"
      (click)="onToggleEditingMode()"
    ></button>

    <!-- delete button -->
    <button
      (click)="showModalDialog()"
      pButton
      pRipple
      type="button"
      label="Delete"
      class="p-button-raised p-button-danger"
    ></button>
    <!-- MOdal -->
    <p-dialog
      header="Delete movie"
      [(visible)]="displayModal"
      [modal]="true"
      [style]="{ width: '50vw' }"
      [draggable]="false"
      [resizable]="false"
    >
      <p class="p-m-0">Do you want to delete this movie?</p>
      <ng-template pTemplate="footer">
        <p-button
          icon="pi pi-check"
          (click)="onDeleteMovieItem()"
          label="Yes"
          class="p-button-text"
        ></p-button>
        <p-button
          icon="pi pi-times"
          (click)="displayModal = false"
          label="No"
        ></p-button>
      </ng-template>
    </p-dialog>
  </div>
</div>

<div class="card">
  <div
    class="flex justify-content-center align-content-center flex-wrap card-container m-t-3"
    [style]="{ height: '80vh' }"
  >
    <!-- image  section-->
    <div [style]="{ width: '30vw' }">
      <img src="{{ movie?.posterUrl }}" alt="movie image" />
    </div>

    <!--Show movie Info (None Editing Mode )-->
    <p-card
      *ngIf="!isEditing"
      header="Title: {{ movie?.title }}"
      [style]="{ width: '40vw' }"
      styleClass="p-card-shadow"
    >
      <p>
        <b>Released Date:</b>
        {{ movie?.year | customUnixConvert }}
      </p>
      <!-- If the movie run time is longer than 120 mins then text color will be red -->
      <p>
        <b>Running time:</b>
        <span [ngStyle]="{ color: isLongMovie ? 'red' : 'black' }">{{
          movie?.runtime
        }}</span>
        Mins
      </p>
      <p><b>Genres:</b> {{ movie?.genres }}</p>
      <p><b>Director:</b> {{ movie?.director }}</p>
      <p><b>Plot:</b>{{ movie?.plot }}</p>
    </p-card>

    <!-- Editing mode  -->

    <form [formGroup]="movieDetailEditForm" (ngSubmit)="onSubmit()">
      <p-card
        *ngIf="isEditing"
        #onEditingMode
        header="Title: {{ movie?.title }}"
        [style]="{ width: '40vw' }"
        styleClass="p-card-shadow"
      >
        <div class="card">
          <div class="field">
            <label for="dateInput">Released Date:</label>

            <input
              #yearRef
              id="dateInput"
              formControlName="year"
              class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
              type="date"
              id="exampleInput"
              name="input"
              ng-model="example.value"
              placeholder="yyyy-MM-dd"
              min="1900-01-01"
              max="2030-12-31"
              required
            />
            <p-message
              *ngIf="
                movieDetailEditForm.get('year').invalid &&
                movieDetailEditForm.get('year').touched
              "
              severity="error"
              text="Date is Required"
            ></p-message>
          </div>

          <!-- Running time -->
          <div class="field">
            <label for="timeInput">Running time:</label>
            <input
              id="timeInput"
              type="text"
              pInputText
              formControlName="runtime"
              placeholder="Movie Running Time"
              class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            />
            <p-message
              *ngIf="
                movieDetailEditForm.get('runtime').invalid &&
                movieDetailEditForm.get('runtime').touched
              "
              severity="error"
              text="Number only"
            ></p-message>
          </div>
          <!-- Genres  -->
          <div class="field">
            <label for="genreInput">Genres:</label>
            <input
              id="genreInput"
              type="text"
              pInputText
              formControlName="genres"
              placeholder="Input Genres"
              class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            />
            <p-message
              *ngIf="
                movieDetailEditForm.get('genres').invalid &&
                movieDetailEditForm.get('genres').touched
              "
              severity="error"
              text="genres is Required"
            ></p-message>
          </div>
          <!-- Directors -->
          <div class="field p-mt-4">
            <label for="directorInput">Director:</label>
            <input
              id="directorInput"
              type="text"
              pInputText
              formControlName="director"
              placeholder="Input Director"
              class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            />
            <p-message
              *ngIf="
                movieDetailEditForm.get('director').invalid &&
                movieDetailEditForm.get('director').touched
              "
              severity="error"
              text="Director name is required"
            ></p-message>
          </div>
          <!-- Plot -->
          <div class="field">
            <label for="plotInput">Plot:</label>
            <textarea
              formControlName="plot"
              id="plotInput"
              type="text"
              placeholder="Movie plot "
              rows="3"
              class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            ></textarea>
            <p-message
              *ngIf="
                movieDetailEditForm.get('plot').invalid &&
                movieDetailEditForm.get('plot').touched
              "
              severity="error"
              text="Plot is Required(minimum length 15)"
            ></p-message>
          </div>
        </div>
        <button
          [disabled]="movieDetailEditForm.invalid"
          pButton
          type="submit"
          label="Submit Change"
          (click)="showChange()"
        ></button>
      </p-card>
    </form>
  </div>
</div>
