<div class="card">
  <h3>Movie List</h3>
  <!-- Show Msg(You are login) -->
  <p>{{message}}</p>  
  <div class="p-mb-3">
    <p-button
      type="button"
      icon="pi pi-chevron-left"
      (click)="prev()"
      [disabled]="isFirstPage()"
      styleClass="p-button-text"
    ></p-button>
    <p-button
      type="button"
      icon="pi pi-refresh"
      (click)="reset()"
      styleClass="p-button-text"
    ></p-button>
    <p-button
      type="button"
      icon="pi pi-chevron-right"
      (click)="next()"
      [disabled]="isLastPage()"
      styleClass="p-button-text"
    ></p-button>
  </div>
  <p-table
    #dt1
    [value]="allMovies"
    [paginator]="true"
    [rows]="rows"
    [showCurrentPageReport]="true"
    [(first)]="first"
    [globalFilterFields]="['title', 'genres']"
    currentPageReportTemplate="Movie list {first} to {last} of {totalRecords} movie list"
  >
    <ng-template pTemplate="caption">
      <div class="flex justify-content-end m-2">
        <i class="pi pi-search" style="margin:8px 4px 0 0"></i>
        <input style="height: 2rem"
          pInputText
          type="text"
          (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
          placeholder="Search Keyword"
        />
        
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Year</th>
        <th>Genre</th>
        <th>Details</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-movie>
 

      <tr appBasicHighlight>
        <td>{{ movie.id }}</td>
        <!-- add pipe line-->
        <td>{{ movie.title | uppercase }}</td>
        <td>{{ movie.year | customUnixConvert }}</td>
        <td>{{ movie.genres }}</td>

        <td>
          <button
            [routerLink]="['/movies', movie.id]"
            pButton
            type="button"
            label="Detail"
            class="p-button-text"
          ></button>
          
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<hr />
